<% dataCourses.forEach((course)=> { %>
<div class="swiper-slide card" style="height: auto;">
  <div class="card-content">
    <div class="image">
      <img src="<%= course.photo %>" alt="" />
    </div>
    <div class="social-media">
    </div>
    <div class="name-profession">
      <span class="name"><%= course.name %></span>
      <span class="profession"><%= course.description %></span>
    </div>
    <div class="rating">
      <% for(let i=0;i<course.level;i++){ %>
      <i class="fa-solid fa-star"></i>
      <% }%>
    </div>
    <div class="button">
      <form action="courses_begin" method="get">
        <input type="hidden" name="courseId" value="<%= course.id_course %>">
        <button type="submit" class="aboutMe">Begin</button>
      </form>
    </div>
  </div>
</div>
<% });%>