  <div class="container_video show-controls">
    <div class="wrapper_video">
        <div class="video-timeline">
            <div class="progress-area">
                <span>00:00</span>
                <div class="progress-bar"></div>
            </div>
        </div>
        <ul class="video-controls">
            <li class="options left">
                <button class="volume"><i class="fa-solid fa-volume-high"></i></button>
                <input type="range" min="0" max="1" step="any">
            </li>
            <li class="options center">
                <button class="skip-backward"><i class="fas fa-backward"></i></button>
                <button class="play-pause"><i class="fas fa-play"></i></button>
                <button class="skip-forward"><i class="fas fa-forward"></i></button>
            </li>
            <li class="options right">
              <span id="prompt_video" class="fa-sharp fa-light fa-question fa-fade fa-xl" style="color: #ffffff; cursor: pointer;">
                <span class="tooltip-text"><%= questions[order[chetQuestions]].answer%></span>
            </span>
                <div class="playback-content">
                    <button class="playback-speed"><span class="material-symbols-rounded">slow_motion_video</span></button>
                    <ul class="speed-options">
                        <li data-speed="2">2x</li>
                        <li data-speed="1.5">1.5x</li>
                        <li data-speed="1" class="active">Normal</li>
                        <li data-speed="0.75">0.75x</li>
                        <li data-speed="0.5">0.5x</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <video id="my-video">
        <source src="" type="video/mp4">
    </video>
</div>
