<div class="quiz-container">
  <div class="quiz-card">
    <div class="score-container">
      <div class="score-oval">
        <div class="correct-oval"></div>
        <div class="incorrect-oval"></div>
        <div class="score-counter">
          <span class="correct">0</span>/<span class="total">0</span>
        </div>
      </div>
    </div>
    <div class="quiz-question">
      <h2>What is the capital of France?</h2>
    </div>
    <%- include('training_level1'); -%> 
  </div>
</div>