<header>
    <h2 class="logo">English</h2>
    <nav class="navigation">
      <a href="/">Home</a>
      <a href="courses">Courses</a>
      <a href="dictionary" class="dictionary_link">Dictionary</a>
      <a href="exit">Exit</a>
      <button class="btnLogin-popup" ONCLICK="show_page_form()">Login</button>
    </nav>
  </header>