<header>
  <div class="avatar-container">
    <div class="avatar"></div>
    <h2 class="logo">You need login</h2>
  </div>
  <nav class="navigation">
    <a href="/">Home</a>
    <a href="courses" style="margin-right: 40px;">Courses</a>
    <div class="dropdown">
      <a href="/dictionary" style="margin-left: 0px;">Dictionary</a>
      <div class="dropdown-content">
        <a href="/word_training" style="margin-left: 0px;">Word training</a>
      </div>
    </div>
    <a href="exit">Exit</a>
    <button class="btnLogin-popup">Login</button>
  </nav>
</header>
