<header>
  <h2 class="logo">English</h2>
  <nav class="navigation">
    <a href="/">Home</a>
    <a href="courses" style="margin-right: 40px;">Courses</a>
    <div class="dropdown">
      <a href="/dictionary" style="margin-left: 0px;">Dictionary</a>
      <div class="dropdown-content">
        <a href="/word_training" style="margin-left: 0px;">Word training</a>
      </div>
    </div>
    <a href="exit">Exit</a>
    <button class="btnLogin-popup" onclick="show_page_form()">Login</button>
  </nav>
</header>
