<div class="quiz-options">
    <button class="option correct-answer">Paris</button>
    <button class="option">Berlin</button>
    <button class="option">London</button>
    <button class="option">Madrid</button>
</div>