<div class="input-container">
  <input type="text" class="answer-input" maxlength="1">
  <input type="text" class="answer-input" maxlength="1">
  <input type="text" class="answer-input" maxlength="1">
  <input type="text" class="answer-input" maxlength="1">
  <input type="text" class="answer-input" maxlength="1">
  <input type="text" class="answer-input" maxlength="1">
</div>