  /* Добавляем этот стиль для смены цвета активной ссылки */
  .nav-link.active {
    background-color: #f8f8f8;
    color: #000;
  }

  /* Добавляем этот стиль для смены цвета неактивных ссылок */
  .nav-link {
    color: #f8f8f8;
  }