header{
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin: 0;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.navigation .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navigation .dropdown-content {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .navigation .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navigation .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative; /* Добавляем позиционирование для панельки */
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #cccccc;
    background-image: url("/user.png");
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    transition: transform 0.3s; /* Добавляем анимацию при наведении */
  }
  
  .avatar:hover {
    transform: scale(1.2); /* Пример анимации, можно изменить */
  }
  
  .profile-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 50%;
    width: 80%; /* Задайте нужные размеры */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s; /* Плавное появление и исчезновение */
  }
  
  .avatar:hover ~ .profile-menu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Отключение задержки для показа */
  }
  .profile-menu:hover{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; 
  }
  .avatar-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .progress-bar_level {
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .progress_level {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    width: 50%; /* Измените ширину прогресс-бара в соответствии с уровнем пользователя */
  }
  /* adjust other styles as needed */
  @media screen and (max-width: 768px) {
    header {
      padding: 20px 50px;
    }
  
    .logo {
      font-size: 1.5em;
    }
  
    .navigation a {
      margin-left: 20px;
    }
  
    .navigation .btnLogin-popup,
    .navigation .dropdown-content a {
      margin-left: 20px;
      font-size: 1em;
    }
  
    .avatar-container {
      margin-right: 10px;
    }
  
    .avatar {
      width: 28px;
      height: 28px;
      margin-right: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    header {
      padding: 10px 30px;
    }
  
    .logo {
      font-size: 1.2em;
    }
  
    .navigation a {
      margin-left: 10px;
      font-size: 0.9em;
    }
  
    .navigation .btnLogin-popup,
    .navigation .dropdown-content a {
      margin-left: 10px;
      font-size: 0.9em;
    }
  
    .avatar-container {
      margin-right: 5px;
    }
  
    .avatar {
      width: 24px;
      height: 24px;
      margin-right: 3px;
    }
  }
  @media screen and (min-width: 1200px) {
    header {
      padding: 20px 150px;
    }
  
    .logo {
      font-size: 2.5em;
    }
  
    .navigation a {
      margin-left: 60px;
      font-size: 1.3em;
    }
  
    .navigation .btnLogin-popup,
    .navigation .dropdown-content a {
      margin-left: 60px;
      font-size: 1.3em;
    }
  
    .avatar-container {
      margin-right: 30px;
    }
  
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  }  



  .button_a {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .button_a:hover {
    background-color: #3e8e41;
  }
  
  .button_a:active {
    background-color: #367133;
    transform: translateY(2px);
  }
  
  @keyframes pulse_but {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .admin-button {
    animation: pulse_but 2s infinite;
  }


  .question_course {
    color: #FDFDFD; /* Нежно белый цвет */
    text-align: center; /* Выравнивание по центру */
    animation: moveIn 2s infinite ease-in-out alternate; /* Бесконечное движение */
  }
  
  @keyframes moveIn {
    0% {
      transform: translateX(-10px); /* Начальное смещение влево */
    }
    50% {
      transform: translateX(10px); /* Смещение вправо */
    }
    100% {
      transform: translateX(-10px); /* Возвращение влево */
    }
  }