.video-container {
    position: relative;
    width: 640px;
    height: 360px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  #my-video {
    width: 100%;
    height: 100%;
  }
  
  .video-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .video-container:hover:before {
    opacity: 1;
  }
  
  video::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
  video::-webkit-media-controls-timeline {
    background-color: transparent;
  }
  
  video::-webkit-media-controls-timeline-container {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
  }
  
  video::-webkit-media-controls-current-time-display,
  video::-webkit-media-controls-time-remaining-display {
    color: white;
    font-weight: bold;
  }
  
  video::-webkit-media-controls-mute-button {
    color: white;
  }
  
  video::-webkit-media-controls-fullscreen-button {
    color: white;
  }
  
  video::-webkit-media-controls-overlay-play-button {
    display: none !important;
  }
  