<header>
  <div class="avatar-container">
    <div class="avatar"></div>
    <h2 class="logo">You need login</h2>
    <div class="profile-menu">
      <!-- Кнопка для смены изображения аватарки -->
      <button class="button_a admin-button" onclick="redirectToAdminPanel()">Панель администратора</button>
    </div>
  </div>

  <nav class="navigation">
    <a href="/">Home</a>
    <a href="courses" style="margin-right: 40px;">Courses</a>
    <div class="dropdown">
      <a href="/dictionary" style="margin-left: 0px;">Dictionary</a>
    </div>
    <a href="exit">Exit</a>
    <button class="btnLogin-popup">Login</button>
  </nav>
</header>
<script>
  function redirectToAdminPanel() {
    window.location.href = "show_panel_admin";
  }
</script>