<tr style="color:#cbd5e0;">
    <td>
        <%= word.word %>
    </td>
    <td>
        <%= word.translation %>
    </td>
    <td>
        <%= word.example %>
    </td>
    <td><span class="delete_word" id="{{$value->idwords}}" onclick="knopka()"><ion-icon id="{{$value->idwords}}"
                name="trash"></ion-icon></span></td>
</tr>