<div class="input-container">
  <div id="optionInputDIV">
    <input type="hidden" id="countLeter" value="<%= (allWords[order[chetQuestions]].word).length-1 %>">
    <% for(let i=0;i<(allWords[order[chetQuestions]].word).length-1;i++) { %>
      <input type="text" id="optionInput<%= i %>" class="answer-input" maxlength="1">
      <% } %>
  </div>
    <input type="text" id="finishInput" class="answer-input" maxlength="1">
</div>